.contentWidth {
    width: 77%;
}

.category {
    width: 23%;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;
}

.category img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
}

.category span{
    margin: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.category .box{
    transition: 0.5s;
    padding: 0 20px;
}

.category .box:hover{
    background-color: #ffe1ef;
    cursor: pointer;
}